* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #204a6f;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}
